@import 'reset.css';

:root {
  --dark-blue: #123847;
  --light-blue: #41c7ff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

header {
  background-color: var(--light-blue);
}

.home-link {
  text-decoration: none;
  margin: 1rem;
}

.home-link-text {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-family: Reitam;
}

.tabbar-nav {
  background-color: var(--dark-blue);
  padding: 1rem;
}

.tabbar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0;
}

.tabbar-item {
  list-style-type: none;
}

.item-img {
  width: 10vw;
  height: 10vw;
}

.item-text {
  text-align: center;
  color: white;
  font-family: Reitam;
  font-size: 2vw;
  text-decoration: none;
  height: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
