@import 'reset.css';

:root {
  --dark-blue: #123847;
  --light-blue: #41c7ff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

header {
  background-color: var(--light-blue);
}

.home-link {
  text-decoration: none;
  margin: 1rem;
}

.home-link-text {
  text-align: center;
  font-size: 2rem;
  color: var(--dark-blue);
  font-family: Reitam;
}

.tabbar-nav {
  background-color: var(--dark-blue);
  padding: 1rem;
}

.tabbar {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 0;
}

.tabbar-item {
  list-style-type: none;
}

.item-img {
  width: 8vw;
  height: 8vw;
}

.item-text {
  text-align: center;
  color: white;
  font-family: Reitam;
  font-size: 3.5vw;
  text-decoration: none;
  height: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.banner {
  background: url(/assets/images/icons/pattern.png), var(--light-blue);
  background-size: 10rem;
  background-blend-mode: soft-light;
  padding: 1rem;
}

.banner-title {
  font-family: Reitam;
  font-size: 10vw;
  color: white;
  text-align: center;
  line-height: 1.2;
  margin: 2rem auto;
}

.banner-date {
  background: var(--dark-blue);
  padding: 1rem;
  color: white;
  font-family: Reitam;
  width: 40vw;
  text-align: center;
  margin: 2rem auto;
  font-size: 3vw;
}

.banner-hashtag {
  font-family: Reitam;
  font-size: 6vw;
  color: var(--dark-blue);
  margin: 2rem 0;
  text-align: center;
}

.actie {
  height: 50vh;
  margin: 1rem 0rem;
}

.actie-img {
  width: 100vw;
  height: 50vh;
  z-index: -1;
  position: absolute;
}
