@import 'reset.css';

:root {
  --dark-blue: #123847;
  --light-blue: #41c7ff;
  --light-grey: #f6f6f6;
  --actie-height: 40vh;
  --text: 4vw;
  --actie-size: 30vw;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Helvetica;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  background: var(--light-grey);
}

main {
  width: 100vw;
  display: grid;
  grid-row-gap: 3rem;
}

.navigation {
  background-color: var(--light-blue);

  & .home-link {
    text-decoration: none;
    margin: 1rem;
  }
}

.home-link-text {
  text-align: center;
  font-size: 6vw;
  color: var(--dark-blue);
  font-family: Reitam;

  & :hover {
    color: white;
  }
}

.tabbar-nav {
  background-color: var(--dark-blue);
  padding: 1rem;
}

.tabbar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0;

  & .tabbar-item {
    list-style-type: none;

    &:hover .item-text {
      color: var(--light-blue);
    }
  }
}

.item-text {
  text-align: center;
  color: white;
  font-family: Reitam;
  font-size: 3.5vw;
  text-decoration: none;
  height: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & .item-img {
    width: 8vw;
    height: 8vw;
  }
}

.banner {
  background: url(/assets/images/icons/pattern.png), var(--light-blue);
  background-size: 10rem;
  background-blend-mode: soft-light;
  padding: 1rem;
  width: 100vw;

  & .banner-title {
    font-family: Reitam;
    font-size: 10vw;
    color: white;
    text-align: center;
    line-height: 1.2;
    margin: 2rem auto;
  }

  & .banner-date {
    background: var(--dark-blue);
    padding: 1rem;
    color: white;
    font-family: Reitam;
    width: 40vw;
    text-align: center;
    margin: 2rem auto;
    font-size: 3vw;
    box-shadow: 0 0 10px -4px var(--dark-blue);
  }

  & .banner-hashtag {
    font-family: Reitam;
    font-size: 3vw;
    color: var(--dark-blue);
    margin: 2rem 0;
    text-align: center;
  }

}

.intro {
  width: 90vw;
  margin: 0 auto;

  & .intro-img {
    display: none;
  }

  & .intro-stats {
    margin: 0 auto;
    margin: 2rem 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    & .stats-title {
      font-family: Reitam;
      font-size: 5vw;
      color: var(--dark-blue);
      text-align: center;
      grid-column: span 3;
    }
  }
}

.title {
  font-family: Reitam;
  font-size: 6vw;
  color: var(--dark-blue);
  text-align: center;
}

.text {
  font-family: HelveticaNeue;
  font-size: var(--text);
  color: var(--dark-blue);
  line-height: 1.5;
  margin: 0 auto;
  text-align: left;
}

.stats-info {
  height: 30vw;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & .stats-img {
    width: 15vw;
    height: 15vw;
  }

  & .stats-text {
    font-family: Reitam;
    font-size: 4vw;
    text-align: center;
    color: var(--dark-blue);
  }
}

.specialday {
  background: url(/assets/images/icons/zebrapad.png);

  & .specialday-title {
    font-family: Reitam;
    font-size: 6vw;
    margin: 1rem 0;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  & .specialday-img {
    display: none;
  }

  & .specialday-info {
    display: flex;
    flex-direction: column;
    background: var(--light-blue);
    padding: 2rem;
  }
}

.home-acties {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;

  & .home-acties-title {
    text-align: center;
    font-family: Reitam;
    font-size: 8vw;
  }

  & .actie {
    height: var(--actie-height);
    margin: 1rem 0;

    &:nth-of-type(3) {
      display: none;
    }

    & .actie-link {
      text-decoration: none;
    }

    & .actie-img {
      width: 100vw;
      height: var(--actie-height);
      position: absolute;
      object-fit: cover;
    }

    & .overlay {
      background: black;
      mix-blend-mode: multiply;
      width: 100vw;
      height: var(--actie-height);
      opacity: .5;
      position: absolute;
    }

    & :hover .overlay {
      opacity: .2;
    }
  }
}

.actie-info {
  width: 100vw;
  height: var(--actie-height);
  position: relative;
  color: white;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr repeat(2, min-content);

  & .actie-title {
    font-family: Reitam;
    font-size: 6vw;
    color: white;
    grid-column: span 2;
  }

  & .actie-date {
    grid-row-start: 2;
    font-family: HelveticaNeue;
    font-size: 8vw;
    color: white;
    align-self: flex-end;
  }

  & .actie-city {
    grid-row-start: 3;
    font-family: HelveticaNeue;
    font-size: 6vw;
    color: white;
    align-self: flex-end;
  }
}

.button {
  text-decoration: none;
  background: var(--dark-blue);
  color: white;
  font-family: Reitam;
  width: 70vw;
  padding: 1rem;
  text-align: center;
  margin: 1rem auto;
  font-size: 4vw;
  box-shadow: 0 0 10px -4px var(--dark-blue);

  &:hover {
    background: white;
    color: var(--dark-blue);
  }
}

.organiseer-info {
  width: 100vw;
  background-color: var(--light-blue);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  & .organiseer-title {
    font-family: Reitam;
    font-size: 6vw;
    color: white;
    text-align: center;
    margin: 1rem 0;
  }
}

.organiseer-img {
  display: none;
}

.nieuws {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  & .nieuws-title {
    font-family: Reitam;
    font-size: 6vw;
    color: var(--dark-blue);
  }

  & .nieuws-subtitle {
    font-family: Reitam;
    font-size: 4vw;
    color: var(--dark-blue);
  }
}

.nieuws-article {
  margin: 1rem auto;
  background: white;
  padding: 2rem;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-gap: 1rem;

  & .nieuws-article-img {
    height: 30vh;
    width: 60vw;
    object-fit: cover;
    justify-self: center;
  }

  & .nieuws-article-button {
    text-align: right;
    border-bottom: .5rem solid var(--light-blue);
    padding: 0 1rem;
    color: var(--dark-blue);
    font-size: 4vw;
    justify-self: right;
    text-decoration: none;
    font-family: HelveticaNeue-Bold;

    &:hover {
      color: var(--light-blue);
      border-bottom: .5rem solid var(--dark-blue);
    }
  }
}

.no-mobile {
  display: none;
}

footer {
  background: var(--light-blue);
  padding: 2rem;
  display: grid;
  grid-template-columns: 50vw min-content;

  & .footer-nieuwsbrief {
    font-family: HelveticaNeue-Bold;
    font-size: 5vw;
    color: white;
    padding: 1rem;
    grid-column: span 2;
  }

  & .nieuwsbrief {
    margin: 1rem auto;
    width: 90vw;
    grid-row: 2;

    & .form-email {
      display: flex;
      flex-direction: column;
      height: 5rem;
      justify-content: space-between;
      font-family: Reitam;
      color: white;
      font-size: 4vw;
      width: 90vw;
      margin: 1rem auto;
    }

    & .form-email-input {
      background: var(--light-blue);
      border: none;
      outline: none;
      border-bottom: white .2rem solid;
      font-size: 3vw;
      color: var(--dark-blue);
    }
  }
}

.links {
  grid-column: 1;
  grid-row: 3;

  & .link-item {
    padding: 1rem;

    &:hover {
      background-color: var(--dark-blue);
      padding: 1rem;
    }
  }
}

.submit {
  background: var(--dark-blue);
  width: 30vw;
  padding: 1rem;
  margin: 2rem 0;
  border: none;
  box-shadow: 0 0 10px -4px var(--dark-blue);
  color: white;
  font-family: Reitam;
  font-size: 3vw;

  &:hover {
    background-color: white;
    color: var(--dark-blue);
  }
}

.language {
  width: 20vw;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  grid-column: 2;
  grid-row: 3;

}

.language-item {
  text-decoration: none;
  color: white;
  font-family: Reitam;
  font-size: 4vw;

  &:hover {
    color: var(--dark-blue);
  }
}

.active {
  color: var(--dark-blue);
}

@media only screen and (min-width: 768px) {

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & .home-link-text {
      font-size: 2vw;
      text-align: left;
    }
  }

  .tabbar-nav {
    background: var(--light-blue);
  }

  .tabbar {
    justify-content: space-between;
    width: 40vw;

    & .tabbar-item {
      display: flex;
      height: 3vw;

      &:hover .item-text {
        color: var(--dark-blue);
      }
    }
  }

  .item-img {
    display: none;
  }

  .item-text {
    height: 3vw;
    color: white;
    font-family: Reitam;
    font-size: 1.5vw;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      color: var(--dark-blue);
    }
  }

  .banner {
    background-size: 18rem;
    display: grid;
    grid-template-columns: 20vw repeat(2, 30vw) 20vw;
    grid-template-rows: 1fr 10vh 10vh;
    align-items: center;

    & .banner-title {
      font-size: 6vw;
      grid-column: span 4;
    }

    & .banner-date {
      width: 26vw;
      font-size: 2vw;
      grid-row: 2;
      grid-column: 3;
    }

    & .banner-hashtag {
      font-size: 3vw;
      grid-row: 2;
      grid-column: 2;
    }
  }

  .intro {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 10rem repeat(2, min-content);

    & .intro-img {
      display: block;
      width: 45vw;
      height: 30vw;
      grid-column: 1;
      object-fit: cover;
    }
  }

  .title {
    font-size: 2vw;
    grid-column: 2;
    text-align: left;
  }

  .text {
    font-size: 1.4vw;
  }

  .intro-stats {
    grid-column: 2;
    margin: 2rem auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    & .stats-title {
      font-size: 2vw;
      grid-column: span 3;
    }

    & .stats-info {
      height: 10rem;
      grid-row-start: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      & .stats-img {
        width: 5vw;
        height: 5vw;
      }

      & .stats-text {
        font-size: 1.4vw;
      }
    }
  }

  .specialday {
    width: 100vw;
    height: 40vw;
    margin: 0 auto;
    background-repeat: repeat-x;
    background-position: top;
    background-size: 20vw;
    display: grid;
    grid-template-columns: 5vw 50vw 25vw 5vw;
    grid-template-rows: 10vw 25vw;

    & .specialday-title {
      font-size: 4vw;
      grid-row: 1;
      grid-column: 2;
      z-index: 3;
      justify-content: flex-start;
      height: 6vw;
    }

    & .specialday-img {
      display: block;
      width: 32vw;
      height: 30vw;
      grid-column: 3;
      z-index: 2;
      margin: 2rem;
      box-shadow: 0 0 10px -4px var(--dark-blue);
      object-fit: cover;
    }
  }

  .specialday-info {
    width: 80vw;
    height: 25vw;
    margin: 0 auto;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: space-around;

    & .specialday-text {
      width: 45vw;
      margin: 1rem;
    }

    & .specialday-button {
      width: 40vw;
      margin: 1rem;
      font-size: 2vw;
    }
  }

  .home-acties {
    display: grid;
    width: 90vw;
    grid-template-rows: min-content auto;
    grid-template-columns: 50vw 50vw;
    margin: 0 auto;

    & .home-acties-title {
      font-size: 5vw;
      grid-row: 1;
      grid-column: 1;
      text-align: left;
    }

    & .actie-button {
      grid-row: 1;
      grid-column: 2;
      width: 25vw;
      font-size: 2vw;
      justify-self: right;
    }

    & .actie {
      width: 40vw;
      height: 40vw;

      & .actie-img {
        width: 40vw;
        height: 40vw;
      }

      & .overlay {
        width: 40vw;
        height: 40vw;
      }
    }
  }

  .actie-info {
    width: 40vw;
    height: 40vw;
    grid-template-rows: 1fr repeat(2, min-content);

    & .actie-title {
      font-size: 3vw;
    }

    & .actie-date {
      font-size: 4vw;
    }

    & .actie-city {
      font-size: 2.5vw;
    }
  }

  .organiseer {
    display: grid;
    grid-template-columns: 40vw 60vw;

    & .organiseer-info {
      display: flex;
      justify-content: space-around;
      width: 60vw;
      height: 30vw;
      grid-column: 2;
      box-shadow: 0 0 10px -4px var(--dark-blue);

      & .organiseer-title {
        font-size: 3vw;
      }

      & .organiseer-button {
        width: 30vw;
        font-size: 2vw;
      }
    }

    & .organiseer-img {
      display: block;
      position: absolute;
      z-index: -1;
      width: 60vw;
      height: 30vw;
      object-fit: contain;
      padding: 5rem;
    }
  }

  .nieuws {
    background: var(--light-blue);
    text-align: left;
    padding: 3rem;

    & .nieuws-title {
      font-size: 3vw;
      width: 90vw;
      margin: 0 auto;
    }

    & .nieuws-subtitle {
      font-size: 3vw;
      width: 90vw;
      margin: 0 auto;
    }
  }

  .nieuws-article {
    width: 90vw;
    padding: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 30vw 1fr 1fr;
    grid-template-rows: min-content 1fr;

    & .nieuws-article-title {
      grid-column: span 4;
      font-size: 2vw;
    }

    & .nieuws-article-img {
      width: 30vw;
      height: 20vw;
      grid-row-start: 2;
    }

    & .nieuws-article-button {
      grid-column: 3;
      grid-row: 2;
      font-size: 2vw;
      padding-left: 3rem;
      align-self: flex-end;
    }

    & .nieuws-article-text {
      grid-row: 2;
      grid-column: 2 / 4;
    }
  }

  footer {
    grid-template-columns: 70vw 30vw;
    grid-template-rows: auto;

    & .footer-nieuwsbrief {
      font-size: 3vw;
      grid-row: 1;
      grid-column: 1/ 2;
    }

    & .nieuwsbrief {
      grid-row: 2;
      width: 60vw;

      & .form-email {
        width: 60vw;
        font-size: 2vw;
      }

      & .form-email-input {
        font-size: 1.8vw;
      }
    }
  }

  .language {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    width: 10vw;

    & .language-item {
      font-size: 2vw;
    }
  }

  .links {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
  }

  .submit {
    font-size: 2vw;
    width: 20vw;
  }
}

@media only screen and (min-width: 1024px) {

  .intro {
    grid-template-rows: 10rem 25vw;

    & .intro-img {
      width: 45vw;
      height: 30vw;
    }

    & .intro-stats {
      align-items: flex-end;

      & .stats-title {
        font-size: 3vw;
      }
    }
  }

  .specialday-info {
    width: 80vw;

    & .specialday-img {
      width: 40vw;
      height: 30vw;
    }
  }

  .home-acties {
    grid-template-columns: repeat(3, 30vw);
    grid-gap: 1rem;

    & .actie-button {
      grid-column: 3;
    }

    & .actie {
      grid-row: 2;
      width: var(--actie-size);
      height: var(--actie-size);

      &:nth-of-type(3) {
        display: grid;
      }

      & .actie-img {
        width: var(--actie-size);
        height: var(--actie-size);
      }

      & .overlay {
        width: var(--actie-size);
        height: var(--actie-size);
      }

      & .actie-info {
        width: var(--actie-size);
        height: var(--actie-size);

        & .actie-title {
          font-size: 2vw;
        }

        & .actie-date {
          font-size: 3vw;
        }

        & .actie-city {
          font-size: 2vw;
        }
      }
    }
  }
}

/* @media only screen and (min-width: 1440px) {

} */
